<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <title>Pretendo eShop</title>
    <link rel="stylesheet" href="/css/minified/index.css">
</head>

<body>
    <h1>Sounds</h1>
    <h2>List of found sounds on the Wii U that can be used by the Wii U Wood API (wiiuSound)</h2>

    <script type="text/javascript" src="/js/grove.js"
        onerror="wiiuErrorViewer.openByCode(1119000);wiiuBrowser.jumpToHomeButtonMenu()"></script>
    <script lang="javascript">
        Grove.init();
    </script>

    <button onclick="wiiuSound.playSoundByName('SE_WAVE_EXIT', 1);">SE_WAVE_EXIT</button>
    <br>
    <button onclick="wiiuSound.playSoundByName('SE_OLV_MII_CANCEL', 1);">SE_OLV_MII_CANCEL</button>
    <br>
    <button onclick="wiiuSound.playSoundByName('SE_WAVE_MII_ADD', 1);">SE_WAVE_MII_ADD</button>
    <br>
    <button onclick="wiiuSound.playSoundByName(sound, 3);">3</button>
    <br>
    <button onclick="wiiuSound.playSoundByName('BGM_OLV_MAIN', 3);">BGM_OLV_MAIN</button>
    <br>
    <button onclick="wiiuSound.playSoundByName('BGM_OLV_MAIN_LOOP_NOWAIT', 3);">BGM_OLV_MAIN_LOOP_NOWAIT</button>
    <br>
    <button onclick="wiiuSound.playSoundByName('SE_WAVE_BALLOON_OPEN', 1);">SE_WAVE_BALLOON_OPEN</button>
    <br>
    <a href="/debug"><button>Back</button></a>

    <style>
        button {
            width: 250px;
            height: 100px;
            font-size: 25px;
        }
    </style>
</body>

</html>