<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<title>Pretendo eShop</title>
	<link rel="stylesheet" href="/css/minified/index.css">
	<link rel="stylesheet" href="/css/newsCard.css">
</head>

<body>
	<h1>News</h1>

	<script type="text/javascript" src="/js/grove.js"
		onerror="wiiuErrorViewer.openByCode(1119000);wiiuBrowser.jumpToHomeButtonMenu()"></script>
	<script lang="javascript">
		Grove.init();
	</script>

	<button onclick="location.reload(); wiiuSound.playSoundByName('SE_WOOD_OK',1);">Refresh</button>
	<br>

	<div class="info-card">
		<h2>SOAP sever devlopment</h2>

		<p>
			Implementation of the SOAP server to allow for downloads.
		</p>

		<button onclick="wiiuSound.playSoundByName('SE_WOOD_OK',1);">
			Details Unavailable
		</button>
	</div>

	<br>
	<a href="/geisha"><button onclick="wiiuSound.playSoundByName('SE_WOOD_BACK',1);">Back</button></a>

	<style>
		button {
			width: 250px;
			height: 100px;
			font-size: 25px;
		}
	</style>
</body>

</html>

<!--
0005000010105700
5052525441524348
-->