<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<title>Pretendo eShop</title>
	<link rel="stylesheet" href="/css/minified/index.css">
</head>

<body>
	<h1>Random</h1>

	<script type="text/javascript" src="/js/grove.js"
		onerror="wiiuErrorViewer.openByCode(1119000);wiiuBrowser.jumpToHomeButtonMenu()"></script>
	<script lang="javascript">
		Grove.init();
	</script>

	<a href="/gub"><button onclick="wiiuSound.playSoundByName('SE_WOOD_OK',1);">DONT TOUCH ME</button></a>
	<br>
	<a href="/stick"><button onclick="wiiuSound.playSoundByName('SE_WOOD_OK',1);">18 inch stick (not scam)</button></a>
	<br>
	<a href="/geisha"><button onclick="wiiuSound.playSoundByName('SE_WOOD_BACK',1);">Back</button></a>

	<style>
		button {
			width: 250px;
			height: 100px;
			font-size: 25px;
		}
	</style>
</body>

</html>